<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACCESS_TOKEN_KEY</key>
	<string>$(ACCESS_TOKEN_KEY)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-569285689763-ios-550e4798e676293af59a16</string>
			</array>
		</dict>
	</array>
	<key>LOGIN_KEY</key>
	<string>$(LOGIN_KEY)</string>
	<key>REFRESH_TOKEN_KEY</key>
	<string>$(REFRESH_TOKEN_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WEB_FRONT_URL</key>
	<string>$(WEB_FRONT_URL)</string>
</dict>
</plist>
